.No-Data-Content {
  height: 500px;
  width: 100%;

padding: 30px 40px;
  .content-text-TABLE {
    font-size: 4em;
    font-weight: 600;
    color: #cbcbcb;
  }

  .content-text-CART {
    font-size: 3em;
    font-weight:600;
    color: #cbcbcb;
  }
}
