.title-bar {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2em;
  font-weight: 800;
  color: white;
  .title-text{
    margin-left: 40px;
  }
}
